.chatrow{
  font-family: opensans;
  padding: 0 0 20px 0;
  margin: 0;
  border-radius: 4px;
  background-color: white;
}
.chatrow .chatnav{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E2E5ED;
  padding: 0 4%;
}
.chatrow .chatnav .arrow{
  width: 30px;
  height: 30px;
  margin-right: 20px;
  cursor: pointer;
}
.chatrow .chatnav img{
  height: 40px;
  width: 40px;
  border-radius: 40px;
}
.chatrow .chatnav .menu{
  width: 20px;
  height: 20px;
  border-radius: 0;
  cursor: pointer;
}
.chatrow .chatnav .textbox{
  height: 64px;
  width: 90%;
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.chatrow .chatnav .textbox p{
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin: 0;
}
.chatrow .chatbox::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.chatrow .chatbox {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  padding: 10px 5% 0 5%;
}
.chatrow .chatbox .chatlist{
  margin: 20px 0;
}
.chatrow .chatbox .chatlist img{
  width: 54px;
  height: 54px;
  margin: 0;
  border-radius: 20px;
}
.chatrow .chatbox .chatlist{
  align-items: center;
}
.chatrow .chatbox .chatlist .text{
  padding: 10px 30px;
}
.chatrow .chatbox .chatlist .text p{
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.16500000655651093px;
  text-align: left;
  color: white;
}
.chatrow .sendbox{
  width: 100%;
  height: 60px;
  padding: 0 5%;
}
.chatrow .sendbox .send{
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  border-radius: 15px;
  padding: 0 10px;
  background-color: #f7f5f5;
}
.chatrow .sendbox .send form{
  width: 80%;
}
.chatrow .sendbox .send form input{
  height: 60px;
  width: 100%;
  border: none;
  background-color: transparent;
  padding-left: 20px;
}
.chatrow .sendbox .send .rowbox{
  display: flex;
  justify-content: center;
  width: 20%;
}
.chatrow .sendbox .send .rowbox .imgbox{
  width: 31%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chatrow .sendbox .send .rowbox .imgbox img{
  width: 23px;
  height: 23px;
}
.chatrow .sendbox .send .rowbox .imgbox .round{
  position: absolute;
  width: 11px;
  height: 11px;
}
