nav{
    font-family: openSans;
}
.navbarLeft{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.navLogo{
    height: 200px;
    width: auto;
    margin-right: 20px;
}
.navLogo{
    height: 30px;
    width: auto;
}
.navHome {
    font-size: 16px;
    cursor: pointer;
}
.homeMenu{
    display: block;
    cursor: pointer;
}
.btnPekerja{
    background-color: #5E50A1 !important;
    font-size: 16px;
    padding: 8px !important;
    margin-right: 20px;
}
.btnRekruter{
    background-color: white !important;
    border: 1px solid #5E50A1 !important;
    font-size: 16px;
    padding: 8px !important;
}

.iconHome{
    display: none;
}

.navUpper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.iconNavbar{
    font-size: 20px;
    cursor: pointer;
}
.iconImage{
    width: 30px;
    height: 30px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 100%;
    position: relative;
}

.iconImage img{
    width: auto;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navbarBottom{
    display: none !important;
}

@media screen and (max-width:576px) {
    .btnPekerja{
        margin-top: 20px !important;
        font-size: 14px !important;
        margin-left: 40px;
    }
    .btnRekruter{
        margin-top: 20px !important;
        font-size: 14px !important;
    }
    .navLogo{
        display: block;
        margin: 0 auto;
    }
    .homeMenu{
        display: none;
    }
    .navUpper{
        display: none !important;
    }
    .navbarBottom{
        display: block !important;
    }
}
