.bodychat{
  font-family: opensans;
  background-color: #E5E5E5;
  padding: 0 6%;
}
.asdchat{
  display: flex;
  justify-content: end;
  margin-bottom: 50px;
}
.asdnone{
  display: flex;
  justify-content: end;
  margin-bottom: 50px;
}
.sec{
  display: flex;
  margin-bottom: 50px;
}
.none{
  display: flex;
  margin-bottom: 50px;
}
@media screen and (max-width:576px) {
  .bodychat{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2%;
  }
  .sec{
    display: none;
    
  }
  .none{
    display: flex;
    
  }
  .asdchat{
    display: flex;
    justify-content: center;
  }
  .asdnone{
    display: none;
    justify-content: center;
  }
}
