.navbarHome {
    height: 80px;
}

.topHome {
    width: 100%;
    height: 79px;
    background-color: #5E50A1;
}

.titleHome {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 20px;
    color: #FFFFFF;
}

.contentSearch {
    width: 80%;
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 1px 20px rgba(197, 197, 197, 0.25);
    border-radius: 8px;
}

.inputSearch {
    width: 100% !important;
    border: none !important;
}

.colInput {
    width: 68% !important;
}

.inputSearch:focus {
    outline: none;
}

.colIcon {
    width: 3.333333% !important;
    border-right: 1px solid #9EA0A5;
}

.iconSearch {
    color: #9EA0A5 !important;
    cursor: pointer;
}

.inputSelect {
    border: none;
    color: #9EA0A5 !important;
}

.colBtn {
    width: 9.666667% !important;
}

.btnSearch {
    background-color: #5E50A1 !important;
    color: #fff !important;
    font-size: 20px !important;
}

.cardUsers {
    width: 70%;
    height: 180px;
    box-shadow: 0px 8px 10px 0px #3535364d;
    border-radius: 20px;
}

.colPict {
    width: 10.666667% !important;
}

.pictUser {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.cardSkills {
    width: 15% !important;
    height: 30px !important;
    background: rgba(251, 176, 23, 0.6);
    color: #fff;
    border-radius: 4px;
}

.username {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #1F2A36;
}

.spSkill {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #9EA0A5;
}

.btnView {
    width: 145px;
    height: 54px;
    background: #5E50A1 !important;
    border-radius: 4px;
    margin-left: 250px;
    margin-top: 40px;
    color: #fff !important;
    text-align: center;
    border-radius: 20px !important;
}

.paginat {
    cursor: pointer;
}

.footerHome {
    margin-top: 100px;
    height: 400px !important;
    background: #5E50A1;
}

@media screen and (max-width: 1440px) {
    
    .inputSearch {
        width: 90% !important;
    }
    
    .colInput {
        width: 70% !important;
    }
    
    .colIcon {
        width: 5.333333% !important;
        border-right: 1px solid #9EA0A5;
        margin-left: -80px;
    }

    .colPict {
        margin-top: 30px !important;
    }

    .contentInfo {
        margin-top: 20px !important;
        margin-left: 40px;
    }

    .cardSkills {
        width: 25% !important;
        height: 35px !important;
    }

    .btnView {
        margin-left: 160px;
        margin-top: 60px;
    }
}

@media screen and (max-width: 768px) {
    .contentSearch {
        width: 100%;
        height: 150px;
    }

    .inputSearch {
        width: 100% !important;
        border: none !important;
    }
    
    .colInput {
        width: 60% !important;
    }

    .colSelect {
        max-width: 100% !important;
        display: flex;
        justify-content: end;
    }
    
    .colIcon {
        display: none;
    }
    
    .inputSelect {
        width: 35% !important;
        height: 50px;
        border: none !important;
        color: #9EA0A5 !important;
        margin-top: -81px !important;
    }
    
    .colBtn {
        width: 9.666667% !important;
        margin-top: -50px !important;
    }

    .cardUsers {
        width: 100%;
        height: 240px;
    }

    .colPict {
        margin-top: 10px !important;
        padding-left: 20px !important;
    }

    .contentInfo {
        margin-left: 0px !important;
    }

    .username {
        font-size: 18px;
    }

    .contentSkills {
        margin-left: -40px;
    }

    .cardSkills {
        width: 100% !important;
        height: 35px !important;
        padding: 10px;
    }

    .btnView {
        width: 43%;
        height: 45px;
        background: #5E50A1 !important;
        border-radius: 4px;
        margin-left: 190px;
        margin-top: -30px;
        color: #fff !important;
        text-align: center;
    }
}