.BgRegister{
    background-image: url('../../images/true-agency-o4UhdLv5jbQ-unsplash\ 1.png');
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 620px;
    position: relative;
    margin-top: 30px !important;
    margin-left: 20px !important;
}
.BgRegister::after {
    content: "";
    background: #5d50a193;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.BgRegister > * {
    z-index: 10;
}
.register{
    height: 100vh;
}
.logo{
    margin-bottom: 30%;
    margin-top: 8%;
    margin-left: 8%;
    height: 30px;
}
.ketBgRegis{
    color: white;
    width: 456px;
    height: 280px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 70px;
    color: white;
    margin-left: 8%;
    margin-top: -50px
}
.ket-register{
    text-align: start !important;
    width: 70%;
}
.Main-Register{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.formRegister{
    justify-content: center;
    width: 70%;
    height: 76%;
    align-items: center;
    padding-top: 30px;
}
.formRegister label{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    margin-top: 10px;
    color: #9EA0A5;    
}
.formRegister input{
    /* height: 10%; */
    width:100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #E2E5ED;
    padding-left: 10px;
}
.formRegister button{
    /* height: 10%; */
    width:100%;
    margin-top: 30px;
    height: 40px;
    background: #FBB017;
    border-radius: 4px;
    border: none;
    color: white;
}
.formRegister button:hover{
    background: #fb9817;
}
.info{
    display: none;
}
.info2{
    margin-top: 10px;
}

@media screen and (max-width: 428px) {
    .BgRegister{
      display: none;
    }
    .ket-register{
        text-align: start !important;
        width: 90%;
    }
    .info2{
       display: none;
    }
    .register{
        height: 115vh;
    }
    .formRegister{
        justify-content: center;
        width: 90%;
        align-items: center;
        padding-top: 30px;
    }
    .info{
        margin-top: 10px;
        text-align: center;
    }
}
  